{% extends 'base.html' %}

{% block title %}Añadir Participante{% endblock %}

{% block content %}
<div class="login-page">
    <h1>Añadir Participante</h1>

    <form action="{{ url_for('add_participant') }}" method="POST" class="login-form">
        <label for="nombre" class="label-center">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="input-field" required />

        <label for="email" class="label-center">Correo:</label>
        <input type="email" id="email" name="email" class="input-field" required />

        <label for="edad" class="label-center">Edad:</label>
        <input type="number" id="edad" name="edad" class="input-field" required />

        <label for="nivel" class="label-center">Nivel:</label>
        <select id="nivel" name="nivel" class="input-field" required>
            <option value="" disabled selected>Selecciona nivel</option>
            <option value="principiante">Principiante</option>
            <option value="intermedio">Intermedio</option><option value="avanzado">Avanzado</option>
        </select>

        <button type="submit">Agregar</button>
    </form>

    <a href="{{ url_for('index') }}" class="btn-back">Volver atrás</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</div>
{% endblock %}
